

#destaque {
    background-color: yellow;
    font-weight: bold;
}

.centro {
    text-align: center;
}

.justificado {
    text-align: justify;
}

.negrito {
    font-weight: bold;
}

h1 {
    text-align: center;
    background-color: blue;
    color: white;
}

body {
    text-align: center;
    color: white;
    background-image: url("https://i.pinimg.com/originals/1b/f0/82/1bf082a666e4cb09419edbc290241bdd.gif");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
